.CustomButton{

    position: relative;
    
    .StyleButton{
        position: relative;
        display: flex;
        border: 2px solid #1F1C18;
        border-radius: 25rem;
        padding: .3rem 3rem;
        overflow: hidden;
        transition: 1s all ease;

        
        .lable{
            z-index: 1;
        }

        &::before{
            content: "";
            background: #300500;
            position: absolute;
            border-radius: 100px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            transition: 1s all ease;
        }

        &:hover::before{
            width: 110%;
        }
    }
    .one::before{
        width: 0;
        height: 105%; 
    }
}